@model ProductVM


<form class="" method="POST" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(@Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
        </div>
        <div class="row">
            <div class="col-10">
                <div asp-validation-summary="All"></div>
                <input asp-for="Product.Id" hidden />
                <input asp-for="Product.ImageUrl" hidden />
                <div class="mb-3 p-1">
                    <label asp-for="Product.Name" class="p-0"></label>
                    <input asp-for="Product.Name" class="form-control" type="text" />
                    <span asp-validation-for="Product.Name" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.Author" class="p-0"></label>
                    <input asp-for="Product.Author" class="form-control" type="text" />
                    <span asp-validation-for="Product.Author" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.ISBN" class="p-0"></label>
                    <input asp-for="Product.ISBN" class="form-control" type="text" />
                    <span asp-validation-for="Product.ISBN" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.Description" class="p-0"></label>
                    <input asp-for="Product.Description" class="form-control" type="text" />
                    <span asp-validation-for="Product.Description" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.ListPrice" class="p-0"></label>
                    <input asp-for="Product.ListPrice" class="form-control" type="number" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.Price" class="p-0"></label>
                    <input asp-for="Product.Price" class="form-control" type="number" />
                    <span asp-validation-for="Product.Price" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.Price50" class="p-0"></label>
                    <input asp-for="Product.Price50" class="form-control" type="number" />
                    <span asp-validation-for="Product.Price50" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.Price100" class="p-0"></label>
                    <input asp-for="Product.Price100" class="form-control" type="number" />
                    <span asp-validation-for="Product.Price100" class="text-danger pt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.CategoryId" class="p-0"></label>
                    <select asp-for="Product.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                        <option selected disabled>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger mt-1"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input class="form-control" type="file" name="file" />
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.Product.ImageUrl" width="100%" style="border:1px; border-radius:5px solid #bb9b9"/>
            </div>
        </div>
       
        <div class="row">
            <div class="col-6 col-md-3">
                @if (@Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
                else{
                <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control" >Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}